<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of Students</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="row">
			<h1> List students </h1>
		</div>
		
		<div class = "row">
			<div class='col-lg-3'>
				<a th:href = "@{/studens/new}" class= "btn btn-primary btn-sm mb-3">Add Students</a>
			</div>
		</div>
		
		<table class = "table table-striped table-bordered">
			<thead class = "thead-dark">
				<tr>
					<th> Student First Name </th>
					<th> Student Last Name </th>
					<th> Student Email </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "st: ${students}">
					<td th:text = "${st.firstname}"></td>
					<td th:text = "${st.lastname}"></td>
					<td th:text = "${st.Email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>